# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/
DropboxSDK.framework/DropboxSDK
DropboxSDK.framework/Headers/DBAccountInfo.h
DropboxSDK.framework/Headers/DBBase64Transcoder.h
DropboxSDK.framework/Headers/DBDeltaEntry.h
DropboxSDK.framework/Headers/DBError.h
DropboxSDK.framework/Headers/DBJSON.h
DropboxSDK.framework/Headers/DBJsonBase.h
DropboxSDK.framework/Headers/DBJsonParser.h
DropboxSDK.framework/Headers/DBJsonWriter.h
DropboxSDK.framework/Headers/DBLog.h
DropboxSDK.framework/Headers/DBMetadata.h
DropboxSDK.framework/Headers/DBQuota.h
DropboxSDK.framework/Headers/DBRequest.h
DropboxSDK.framework/Headers/DBRestClient.h
DropboxSDK.framework/Headers/DBSession+iOS.h
DropboxSDK.framework/Headers/DBSession.h
DropboxSDK.framework/Headers/DropboxSDK-Prefix.pch
DropboxSDK.framework/Headers/DropboxSDK.h
DropboxSDK.framework/Headers/JSON.h
DropboxSDK.framework/Headers/MPDebug.h
DropboxSDK.framework/Headers/MPOAuth.h
DropboxSDK.framework/Headers/MPOAuthAPI.h
DropboxSDK.framework/Headers/MPOAuthAPIRequestLoader.h
DropboxSDK.framework/Headers/MPOAuthAuthenticationMethod.h
DropboxSDK.framework/Headers/MPOAuthAuthenticationMethodOAuth.h
DropboxSDK.framework/Headers/MPOAuthConnection.h
DropboxSDK.framework/Headers/MPOAuthCredentialConcreteStore+KeychainAdditions.h
DropboxSDK.framework/Headers/MPOAuthCredentialConcreteStore.h
DropboxSDK.framework/Headers/MPOAuthCredentialStore.h
DropboxSDK.framework/Headers/MPOAuthParameterFactory.h
DropboxSDK.framework/Headers/MPOAuthSignatureParameter.h
DropboxSDK.framework/Headers/MPOAuthURLRequest.h
DropboxSDK.framework/Headers/MPOAuthURLResponse.h
DropboxSDK.framework/Headers/MPURLRequestParameter.h
DropboxSDK.framework/Headers/NSDictionary+Dropbox.h
DropboxSDK.framework/Headers/NSObject+DBJSON.h
DropboxSDK.framework/Headers/NSString+DBJSON.h
DropboxSDK.framework/Headers/NSString+Dropbox.h
DropboxSDK.framework/Headers/NSString+URLEscapingAdditions.h
DropboxSDK.framework/Headers/NSURL+MPURLParameterAdditions.h
DropboxSDK.framework/Headers/NSURLResponse+Encoding.h
DropboxSDK.framework/Info.plist
